#!/usr/bin/make -f

export LC_ALL=C.UTF-8
export PYBUILD_NAME=hypothesis
export PYBUILD_TEST_ARGS=--assert=plain -k 'not dateutil' tests/cover tests/nocover tests/datetime tests/numpy

%:
	dh $@ --sourcedirectory=hypothesis-python --buildsystem=pybuild

override_dh_auto_test:
	echo "No tests performed until we upgrade to bullseye"
